name: Shell Lint

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2

      - uses: actions/setup-go@v3
        with:
          go-version: ^1.16

      - name: shellcheck
        run: |
          pip install shellcheck-py
          shellcheck -x **/*.sh

      - name: shfmt
        run: make shftm 
