name: Test and Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-build:
    name: test-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2

      - uses: actions/setup-go@v3
        with:
          go-version: ^1.16

      - name: Install kubebuilder
        run: |
          curl -L -o kubebuilder https://go.kubebuilder.io/dl/latest/$(go env GOOS)/$(go env GOARCH)
          chmod +x kubebuilder
          mv kubebuilder /usr/local/bin/

      - name: Test
        run: make test

      - name: Build
        run: make build

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/skyscanner/applicationset-progressive-sync
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=pr
            type=semver,pattern={{raw}}
            type=sha

      - name: Login to GitHub Packages
        uses: docker/login-action@v2.0.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and publish a docker image
        uses: docker/build-push-action@v3.0.0
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
        if: github.event_name != 'pull_request'
